<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901586425083-m465l5u7uo3e3ls2eojmsfoe3jr8bkrn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901586425083-m465l5u7uo3e3ls2eojmsfoe3jr8bkrn</string>
	<key>API_KEY</key>
	<string>AIzaSyC_KYQ_61IdwIZjWobNrTHh0r8zZk7qroQ</string>
	<key>GCM_SENDER_ID</key>
	<string>901586425083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mhmtkrgz.mydevice</string>
	<key>PROJECT_ID</key>
	<string>my-device-58023</string>
	<key>STORAGE_BUCKET</key>
	<string>my-device-58023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901586425083:ios:8760c8c766acd014f84c5e</string>
</dict>
</plist>